*{
      margin: 0px;
      padding: 0px;
}
/* ===========================menubar================= */
.menu{
	width: 100%;
	height: 100px;
	background-color: rgb(0,0,0,0.86);
  
  }
  .leftmenu{
	width: 25%;
	line-height: 100px;
	float: left;
  }
  .leftmenu h4{
	padding-left: 20px;
	padding-top: 25px;
	font-weight: bold;
	color: white;
	font-size: 27px;
	font-family: 'Montserrat',sans-serif;
  
  
  }
  .rightmenu  {
	width: 60%;
	height: 100px;
	float: right;
  
  }
  
  .rightmenu  ul{
	margin-left: 55px;
  }
  .rightmenu ul li {
	font-family: 'Montserrat',sans-serif;
	display: inline;
	line-height: 100px;
	list-style: none;
	font-size: 15px;
	color: white;
	font-weight: bold;
	margin-left: 40px;
	text-transform: uppercase;
	cursor: pointer;
  
  }
  a.lin{
	 text-decoration:none;
	 color:white;
  }
  
  
  #firstlist{
	color: rgb(252, 52, 52);
  
  }
  
  .rightmenu ul li:hover{
	color: orange;
  }
  
  .effect{
	margin: 0;
  }
  
   marquee{
	 margin:9px 0 0 0;
   }
  
  
  
  
	.effect {
	  display: inline-block;
	  position: relative;
	   color: white; 
	}
	
	.effect::after {
	  content: '';
	  position: absolute;
	  width: 100%;
	  transform: scaleX(0);
	  height: 3px;
	  bottom: 30px;
	  left: 0;
	  background-color: rgb(252, 52, 52);
	  transform-origin: bottom right;
	  transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
	}
	
	.effect:hover::after {
	  transform: scaleX(1);
	  transform-origin: bottom left;
	}
  
	/* =========================end of menubar================= */


	/* ==========================footer============================ */
footer{
    width: 100%;
    height: 200px;
    background-color: rgb(0,0,0,0.86);
    margin-top: 10px;
  }



  .rightfooter  {
    width: 60%;
    height: 150px;
    float: right;
  
  }

  .leftfooter{
    width: 25%;
    line-height: 25px;
    float: left;
  }

 
  .leftfooter {
    padding-left: 20px;
    font-weight: bold;
    color: white;
    font-size: 17px;
    font-family: 'Montserrat',sans-serif;
    padding-top: 20px;
  
  
  }
  .special{
      color:rgb(252, 52, 52);
  }

  .rightfooter  {
    width: 25%;
    height: 100px;
    float: right;
    padding-left: 20px;
    font-weight: bold;
    color: white;
    font-size: 17px;
    font-family: 'Montserrat',sans-serif;
    padding-top: 20px;
  }


.bgimage{
background-image: url('image5.jpg');
  background-size: 100% 100%;
  width: 100%;
  height: 150vh;
}




.text{
width: 500px;

/*text-transform: uppercase;*/
text-align: center;
background: rgb(0,0,0,0.5);
margin: auto;
border-radius: 30px;
margin-top: 125px;
box-sizing: border-box;
padding: 40px;

}

h4{
text-align: center;
color: white;

}

input[type=text]{
width: 100%;
box-sizing: border-box;
padding: 12px 5px;
background: rgb(0,0,0,0.10);
outline: none;
border: none;
border-bottom: 1px dotted #fff;
color: #fff;
border-radius: 5px;
font-weight: bold;

}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
color: white;
opacity: 9  ; /* Firefox */
}

input[type=radio]{
width: 100%;
box-sizing: border-box;
padding: 12px 5px;
background: rgb(0,0,0,0.10);
outline: none;
border: none;
border-bottom: 1px dotted #fff;
color: #fff;
border-radius: 5px;
font-weight: bold;
display: inline;
width:auto;


}

.radioo{
width: 100%;
box-sizing: border-box;
padding: 12px 5px;
background: rgb(0,0,0,0.10);
outline: none;
border: none;
border-bottom: 1px dotted #fff;
color: #fff;
border-radius: 5px;
font-weight: bold;
color:white);
text-align: left;

}


input[type='radio']:after {
      width: 15px;
      height: 15px;
      border-radius: 10px;
      top: -2px;
      left: -1px;
      position: relative;
      background-color: #d1d3d1;
      content: '';
      display: inline-block;
      visibility: visible;
      border: 2px solid white;
  }

  input[type='radio']:checked:after {
      width: 15px;
      height: 15px;
      border-radius: 10px;
      top: -2px;
      left: -1px;
      position: relative;
      background-color: rgb(252, 52, 52);
      content: '';
      display: inline-block;
      visibility: visible;
      border: 2px solid white;
  }
/*.radio input:checked ~ .checkmark {
background-color: black;
}
*/
input[type=message]{
width: 100%;
box-sizing: border-box;
padding: 20px 5px;
background: rgb(0,0,0,0.10);
outline: none;
border: none;
border-bottom: 1px dotted #fff;
color: #fff;
border-radius: 5px;
font-weight: bold;

}
input[type=submit]{
width: 100%;
box-sizing: border-box;
padding: 5px 0;
margin-top: 20px;
outline: none;
background: rgb(252, 52, 52);
opacity: 0.9;
border-radius: 20px;
font-size: 20px;
}

input[type=submit]:hover{
background: rgb(252, 52, 52);
opacity: 0.4;
}


