	body {
  background-image: url('travel2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  font-family:arial;
}
.img1
{
 	margin-left: 350px;
 	height:50%;
 	width: 50%;
}
.heading,h1{
	text-align: center;
	border-style: solid;
	border-width:2px;
	margin-bottom: 10px;
	margin-right:270px;
	margin-left:250px; 
}

	/*table*/
	#tab	 {	
		width: 100%;
		border: 3px solid black;
		/*padding: 5px;*/
		background-color: rgba(234, 249, 250,0.5);
		border-collapse:collapse;

		}

			.hig{
		background-color: rgba(23, 22, 22,0.3);
		font-size: 22px;
		color:rgb(158, 27, 82);
		}

	td,th{
		border: 3px solid black;
		text-align:center;
		padding: 5px;
		margin: 5px;
	}

	

	td,th,ul{
		font-size: 20px;
	}		
	 
	 a.lin {
	 	text-decoration: none;
	 }



	 a:link {
  color: black;
}

/* visited link */
a:visited {
  color: red;
}

/* mouse over link */
a:hover {
  color: orange;
}

/* selected link */
a:active {
  color: orange;
}

#ad{
	color:rgb(255, 153, 0);
		font-size: 25px;
		margin-top:100px;
		text-align: center;
		border-style: none;
		background-color: rgba(23, 22, 22,0.5);
	
}

	#travel2{
		margin-top: 50px; 
		margin-left:650px;
	}